body{
    font-family: 'Times New Roman', Times, serif; /*Having the font be Times New Roman*/
    font-size: 20px;                              /*Having the font size to be 20*/
    margin: 40px;                                 /*Setting the margin size to 40*/
    background: #30b5d9;                        /* Light blue background */
}


h1{
    width: 30%;
    text-align: center;     /* Having the the header centerd on the webpage */                   
    margin: 20px auto;      /* Adds underline when hovered */
    font-weight: bold;      /* Having the header text be bolded */
    color:#fff;           /* Having the text be white for redability  */
    background-color: darkred; /*Having the header background color to be dark red */
    border: none;                  /* Removing default borders */
    border-radius: 10px;          /* Having rounded borders */
    box-shadow: 0px 4px 8px rgba(224, 108, 108, 0.3); /* Adding shadowing */
}

button {
    display: block;     
    margin: 20px auto;     /* Centering the Create Account button */
    padding: 12px 24px;    /* Added inner spacing to the Create Account button */
    font-size: 20px;       /* Having the font size be 20 */
    font-weight: bold;     /* Having the font bolded */
    color: #fff;         /* Having a white text color for readability */
    background-color: red;  /*Having the button color be red*/
    border: none;             /* Removing default borders */
    border-radius: 10px;      /* Having rounded corners around the button */   
    cursor: pointer;          /*Having the curosor become a pointer to make the button clickable*/
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3); /* Adding subtle shadow to the button*/
    transition: all 0.3s ease;                 /* Handles the transitioning from button changing colors from red to green */
}

form {
    display: flex;
    flex-direction: column;    /* Stack input textboxes vertically */
    align-items: center;      /* center the inputs inside the form */
    background: white;      /*Having a white background appeal*/
    padding: 2rem;            /* Inner spacing */
    border-radius: 10px;      /* Rounded corners */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Adding Soft shadow */
}

input, button {
    width: 250px;              /* consistent input width */
    padding: 10px;             /* Inner spacing */
    margin: 8px 0;             /* Spacing between elements */ 
    border: 1px solid #ccc;  /* Creates a Light gray border */
    border-radius: 5px;        /* Rounded corners */
}

button:hover {
    background: green;  /* Change background to green once the cursor hovers over the button */
}